body {
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility;
    background-color: #171717;
    color: white;
    padding: 0px;
    margin: 0px;
}

body * {
    font-family: inherit;
}

.signup-block {
    width: 100%;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #e0e0e0;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus {
    padding-bottom: 6px;
    /*font-weight: 700;*/
    border-width: 3px;
    color: white;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}

.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

.loginButton {
    font-size: 1.25em;
    width: 49%;
    padding: 8px;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    color: white;
    border-width: 3px;
    border-image: white;
    border-image-slice: 1;
    border-top: none;
    display: inline-block;
    cursor: pointer;
}

.loginButton:hover {
    border-radius: 4px;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
    border-top: none;
    color: #11998e;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    position: fixed;
    z-index: 1000;
    top: 0px;
    width: 100%;
    height: 50px;
    border: none;
    background-color: #005738;
}

.headerRight {
    position: fixed;
    right: 0px;
}

.main {
    padding: 5px;
    padding-left: 10px;
}


/* The container must be positioned relative: */

.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    background-color: #414141;
    border-radius: 3px;
}


/* Style the arrow inside the select element: */

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}


/* Point the arrow upwards when the select box is open (active): */

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}


/* style the items (options), including the selected item: */

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}


/* Style items (options): */

.select-items {
    position: absolute;
    background-color: #414141;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}


/* Hide the items when the select box is closed: */

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.newCourseForm {
    width: 60%;
}

.newCourseForm p.formSectionHeading {
    font-size: 1.75em;
    margin-bottom: 2px;
    text-align: left;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
}

.formSection {
    margin-top: 10px;
    margin-left: 15px;
}

textarea {
    resize: vertical;
}

.dayDiv {
    display: block;
    position: relative;
    width: 100%;
}

.dayDiv .dayDivText {
    position: relative;
    font-size: 1.25em;
    left: 0px;
}

.dayDiv .dayDivButton {
    position: absolute;
    display: inline-block;
    top: 0px;
    right: 0px;
    padding: 6px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
    border-bottom: solid 1px white;
}

.dayDiv .dayDivButton:hover {
    border-bottom: solid 2px white;
    transition: transform 250ms ease-in-out;
    transform: scaleX(1);
}

.timeDiv {
    position: relative;
    display: table;
    margin-left: 10px;
    margin-top: 4px;
    width: 100%;
}

.timeDivInput {
    position: relative;
    margin-top: 0px;
    display: inline-block;
    width: fit-content;
    top: 0px;
}

.timeDivInput.left {
    left: 0px;
}

.timeDivInput.right {
    right: 0px;
}

.timeDivSeparator {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
}

.timeDiv .verticalAlignWrapper {
    vertical-align: middle;
    display: table-cell;
}

.timeDiv .deleteButton {
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    background: #7c0909;
    float: right;
    color: white;
    position: relative;
    cursor: pointer;
    font-size: 0.75em;
}

button.submit {
    margin-top: 10px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1em;
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    background-color: #35644a;
    cursor: pointer;
}

button.submit:hover {
    background-color: #347953;
}

button.submit:active {
    background-color: #34ad6a;
}

button.submit:disabled {
    background-color: #5f6d65;
    color: #a8a8a8;
}

.timeDivTimeSpan {
    font-size: 0.8em;
    color: #bababa;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

@media (max-width: 400px) {
    .flex-container {
        display: block;
    }
}

.course-block {
    flex: 2;
    position: relative;
    width: 300px;
    background-color: #0f0f0f;
    border-radius: 3px;
    padding: 10px;
}

.course-block .course-block-title {
    float: left;
    font-size: 1.5em;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 8px;
}

.course-block .course-block-category {
    float: right;
    top: 0px;
    margin: 0px;
    margin-bottom: 8px;
    /*margin-top: 5px;*/
    border-radius: 3px;
    background-color: #404040;
    padding: 5px;
}

.course-block .course-block-author {
    color: #e1bf7f;
}

.course-block .course-block-description {
    color: #a8a8a8;
}

.course-block .course-block-dates {
    color: #b6e2c1;
}

.course-block .course-block-button {
    width: 100%;
    height: 30px;
    font-size: 1em;
    border: none;
    outline: none;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    color: white;
    transition: 0.25s ease-in-out;
}

.course-block .course-block-button:hover {
    background-color: #ffffff1f;
    transition: 0.25s ease-in-out;
    border-radius: 5px;
}

.course-block .course-block-button:active {
    background-color: #ffffff2b;
    border-width: 3px;
}